

.container{
  display: flex;
  align-items: center;
  
  flex-direction: column;
  border: 2px solid;
  border-radius: 20px 80px 20px 80px;
  height: 700px;
  width: 500px;
  margin:auto;
  background-color: rgb(185, 176, 163);
}

.heading{
  color: brown;
}

.input1 input{
  background-color: rgb(190, 199, 149);
  border-radius: 15px 0 15px 0;
  margin-right: 1px;
  padding: 3px;
}
.input1 button{
  background-color: rgb(207, 113, 198);
  border-radius: 10px;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
}